
        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>THE VALUE OF MONEY </h3>
                    <p>The Value of Money has always played a major role in the human world. Money has changed its faces, shape, and size changed its color and usage, but the Value of Money has always stayed the same. We belong to the 21st century where the money is kept on the highest order.
                    Money is used to buy all the essential goods to buy to sustain in the human world.  We need to work hard and smartly to earn the money we want. Our Work is judged by the Value of the Money that we receive for it. This can be physical or intellectual work. So the value of money is directly proportional to our living style. To level-up our living style we need to increase the value of the money we possess. We have talked about the most important aspect of money, though money cures a lot of other things as well which are equally important. People say, money can’t buy happiness, but that’s not completely true, and that’s where the value of money comes into play. One needs to realize how money solves all their needs, necessities and fulfill their tamed desires. If misused this money can ruin lives as well. One should understand the way money should be spent and teach others as well especially the younger generation these days.
                    Value of money is known till the time one has it, so conserve it, and spend it efficiently and always strive for the best as MONEY is the most desirable bachelor of all time.<br>https://www.studymode.com/essays/Value-Of-Money-1019176.html
                    </p>
                    <a href="https://www.studymode.com/essays/Value-Of-Money-1019176.html
                    " class="button"> Know More</a>
                </div><br>
                <div class="column2"> <img src="img/money.jpg">
                </div>
            </div>
            </div>
         <br><br>
	

		<div class="container">
            <div class="row">
                <div class="column">
                    <h3>GMO FOOD</h3>
                    <p>Time is changing quickly and so is our food and food choices. We have moved from normal products to organic products, be it cereals & pulses, vegetables’, dairy products and many more. But do you know why?
                    It is majorly because GMO foods are harmful to humans and the environment and shouldn't be used. Agriculture should proceed in harmony with nature and nature only. Genetically modified food comes from plants that have been altered in laboratories. These foods are genetically transformed to meet the demands and necessities of the market, like ripping fruits, polishing cereals, compelling with the DNA of animals to produce dairy products and much more we don’t know. 
                    Since people are getting conscious about health and issues related to it and following a routine to stay positive and fit, so they are apparently taking the organic route and avoiding the processed and genetically disordered food. It is that time of the hour when we are readily accepting the new things irrespective of the price, taste and availability. And hence moving to a healthy environment, body and state of mind.<br>
                    Source: www.bartleby.com/essay/Genetically-Modified-Foods-FKJ46SYTC, 
                            https://www.cram.com/subjects/Genetically-Modified-Food-Essay

                    </p>
                    <a href="https://www.cram.com/subjects/Genetically-Modified-Food-Essay" class="button"> Know More</a>
                </div><br>
                <div class="column2"> <img src="img/gmo.jpg">
                </div>
            </div>
        </div> <br><br>


	<div class="container">
            <div class="row">
                <div class="column">
                    <h3>THE VIEW OF WORLD IN 2100</h3>
                    <p>I believe we live in a very beautiful world, irrespective of the recent Corona Virus we are facing. And strongly I believe that life won’t be much different in 2100. But definitely some major changes would take place in every department especially Science and Technology.
                    If we suspect the coming time through the current time then, some countries would have more or less GDP, a better and a sustainable environment, electric transportation, robotic intervention, scenic tourist attraction and many more as we are highly focused on science and its technologies. One other major section that would possibly boom will be the medical sector, wherein we will have the cure for some of the major diseases like AIDS, cancer of all forms and probably some man made viruses like coronavirus. 
                    Though nobody can predict the future, we all can just pray and work toward a better future, so that we the people and the coming generation could enjoy things, irrespective of caste, religion, sex and yes most importantly safely.
                    Hoping for a better time in the near future.</p>
                    <a href="" class="button"> Know More</a>
                </div><br>
                <div class="column2"> <img src="img/future.jpg">
                </div>
            </div>
        </div> <br><br>