<div class="wrapper">
        <h2 class="space"> PORTFOLIO </h2>
        <div class="container-fluid">
            <div class="row portfolio">
                <div class=" col-sm-12 col-md-6 col-lg-4"> <img class="space" src="img/work1.png" alt="client1">
                    <p>Light & Shadow</p>
                </div>
                <div class=" col-sm-12  col-md-6 col-lg-4"> <img class="space" src="img/work2.png" alt="client1">
                    <p>Popcorn & Company</p>
                </div>
                <div class=" col-sm-12  col-md-6 col-lg-4"> <img class="space" src="img/work3.png" alt="client1">
                    <p>Soulfull Expression</p>
                </div>
                <div class=" col-sm-12  col-md-6 col-lg-4"> <img class="space" src="img/video.jpg" alt="client1">
                    <p>Autumn Video</p>
                </div>
                <div class=" col-sm-12  col-md-6 col-lg-4"> <img class="space" src="img/audio-visual.jpg" alt="client1">
                    <p>Video Shoots</p>
                </div>
                <div class=" col-sm-12  col-md-6 col-lg-4"> <img class="space" src="img/print.jpg" alt="client1">
                    <p>Print</p>
                </div>

            </div>
        </div>
    </div>